
<p>
  <strong>Name:</strong>
  <%= @user.fname %> <%= @user.lname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Course Enrolled:</strong>
  <%= @user.course_enrolled %>
</p>