<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>UCC Student Calendar</title>
  <link rel="stylesheet" href="normalize.css" />
  <link rel="stylesheet" href="start.css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.min.js'></script>
  <link rel="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.css">

  <h5><%= link_to 'Create Event', new_event_path %></h5>
  <h5><%= link_to 'Create Meeting', new_meeting_path %></h5>

  <%= javascript_tag do %>


      $(document).ready(function() {

      $('#calendar').fullCalendar({
      header: {
      left: 'prev,next, today',
      center: 'title',
      right: 'month, agendaWeek, agendaDay'
      },

      allDayDefault: false,
      businessHours: true,


      eventSources: [
      {
      url: '/events.json',
      color: 'yellow',
      textColor: 'black'
      },
      {
      url: '../meetings.json',
      color: 'blue',
      textColor: 'white'
      }
      ],


      });

      });
  <% end %></head>
<body>
<header>
  <%image_tag "UCCLogo.jpg" %>
  <div id="logo">
    <%image_tag"calendarLogo.jpg"%>
  </div>
</header>
<nav>
<label for="show-menu" class="show-menu">Show Menu</label>
<input type="checkbox" id="show-menu" role="button">

<ul id="menu">
  <li><a href="home.html">Home</a></li>
  <li><a href="users\show.html">My Profile</a></li>
  <li><a href="#">Calendar</a></li>
  <li><a href="timetable\propose_meeting.html">Add meeting</a></li>
</ul>
</nav>
<div id="calendar"></div>





